.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__link {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none; 
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  display: block; 
}

.address {
  font-style: normal;
  font-size: 18px; 
  line-height: 24px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address__link {
  text-decoration: underline;
}

.address__text {
  display: block;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.cover__title {
  position: relative;
  z-index: 1;
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;
  letter-spacing: 30px;
  color: #fff;
}
.aligned-text {
  display: block;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}
.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 135px;
}
.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 18px;
}
.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.lots {
  padding: 0 50px;
  margin: 180px 0 80px;
}


.lots__heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.lots__cards {
  margin-left: -50px;
  margin-right: -50px;
  padding: 0 50px;
}


.lots__card-list-item {
  flex: 1;
  min-width: 0;
}

.card {
  position: relative;  /* для оверлея */
  display: flex;
  flex-direction: column;
  justify-content: space-between;  /* текст внизу, заголовок сверху */
  height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 50px 40px;  /* по макету */
  box-sizing: border-box;
}
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}
.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 2;
}
.card__text {
  color: #fff;
  font-size: 20px;
  font-weight: 400; /* важно */
  z-index: 2;
  margin-top: auto;
}
.lots__look-more-link {
  font-size: 20px;
  text-decoration: underline;
  margin-top: 30px;
  display: inline-block;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  padding: 181px 50px 50px;
}
.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}
.about__text {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 24px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 180px 50px 90px;
  align-items: start;
}

.footer__address {
  max-width: 240px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: underline;
  color: #000;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item img {
  width: 48px;
  height: 48px;
}
.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}


